@charset "utf-8";

img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer a {
    color: #f8f9fa !important
}

body {
    background: -webkit-linear-gradient(left, #124cb6, #4286be);
}

main {
    background-color: white;
    margin: 25px;
    padding: 20px;
    border-radius: 15px;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}